In [1]:
# Initialization

In [34]:
# References

# https://www.geeksforgeeks.org/priority-queue-in-python/
# https://docs.python.org/3/tutorial/classes.html
# https://www.geeksforgeeks.org/queue-in-python/
# https://www.programiz.com/dsa/priority-queue

In [35]:
# import libraries
import pandas as pd
import numpy as np
from collections import deque
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot as plt
import re
import copy

In [36]:
full_list = pd.read_csv("FullNameAppearance.csv")
clean_full_list = pd.read_csv("mergedcharspages.csv")

In [51]:
clean_full_list

,original_name,name
0,"Abraham, ermskr byskup á Íslandi,",Abraham
1,"Absalon, erkibyskup í Lundi,",Absalon
2,"Absalon, galeiðuforingi,",Absalon
3,"Aðal-Grímr (= Óláfr konungr helgi),",Aðal-Grímr (= Óláfr konungr helgi)
4,"Aðalbrekt, enskr maðr,",Aðalbrekt
...,...,...
7279,"Þuríðr Þorsteinsdóttir, kona Þórvarðs Síðu-Hal...",Þuríðr Þorsteinsdóttir
7280,"Þuríðr, fóstra Þorbj arnar önguls,",Þuríðr
7281,"Þuríðr, kona Andríðs í Brautarholti,",Þuríðr
7282,"Þvinnill, sækonungr,",Þvinnill
7283,"Þyrnifótr,",Þyrnifótr

In [37]:
full_list.head(3)

,Unnamed: 0,ID,Name,Ori_Name,Egil_Saga,People_Of_Vatnsdal,People_Of_Laxardal,Bolli_Bollason_Tale,Hrafnkel_Frey_Godi,Confederates,...,Ref_the_S,Vinland_Sagas,Greenlanders,Eirik_Red_Saga,Thorstein_Staff_struck,Halldor_Snorrason_II,Sarcastic_Halli,Thorstein_Shiver,Audun_From_West_Fjords,Story_wise_Icelander
0,1,1,Abraham,"Abraham, ermskr byskup á Íslandi,",False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,2,Absalon,"Absalon, erkibyskup í Lundi,",False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,3,3,Absalon,"Absalon, galeiðuforingi,",False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [38]:
clean_full_list.head(3)

,original_name,name,concat_note,wife_of,see_ref,1,2,3,4,5,...,233,234,235,236,237,238,239,240,241,242
0,"Abraham, ermskr byskup á Íslandi,",Abraham,ermskr byskup á Íslandi,NaN,NaN,1012.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Absalon, erkibyskup í Lundi,",Absalon,erkibyskup í Lundi,NaN,NaN,4450.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Absalon, galeiðuforingi,",Absalon,galeiðuforingi,NaN,NaN,8429.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
clean_full_list = clean_full_list[["original_name", "name"]]

In [55]:
clean_full_list.to_csv("Original_Name_With_Canonical_ID.csv", index = False)

In [41]:
new_full_list = full_list.drop(columns=["Unnamed: 0", "ID"])

In [42]:
new_full_list.insert(0, "Canonical_ID", 0)

In [43]:
new_full_list.head(3)

,Canonical_ID,Name,Ori_Name,Egil_Saga,People_Of_Vatnsdal,People_Of_Laxardal,Bolli_Bollason_Tale,Hrafnkel_Frey_Godi,Confederates,Gisli_Sursson_Saga,...,Ref_the_S,Vinland_Sagas,Greenlanders,Eirik_Red_Saga,Thorstein_Staff_struck,Halldor_Snorrason_II,Sarcastic_Halli,Thorstein_Shiver,Audun_From_West_Fjords,Story_wise_Icelander
0,0,Abraham,"Abraham, ermskr byskup á Íslandi,",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,Absalon,"Absalon, erkibyskup í Lundi,",False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,0,Absalon,"Absalon, galeiðuforingi,",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [44]:
full_list_can = new_full_list

In [45]:
new_full_list = new_full_list[["Canonical_ID", "Name", "Ori_Name"]]

In [46]:
new_full_list.head(3)

   Canonical_ID     Name                            Ori_Name
0             0  Abraham  Abraham, ermskr byskup á Íslandi,
1             0  Absalon       Absalon, erkibyskup í Lundi,
2             0  Absalon           Absalon, galeiðuforingi,

In [47]:
NOList = list(new_full_list["Ori_Name"])
for j in range(len(NOList)):
    NOList[j] = NOList[j].strip()
COList = list(clean_full_list["original_name"])
for k in range(len(COList)):
    COList[k] = COList[k].strip()

In [48]:
rate = 0
for i in range(len(new_full_list)):
    if (new_full_list.loc[i, "Canonical_ID"] != 0):
        rate += 1
rate

0

In [49]:
for i in range(len(NOList)):
    for j in range(len(COList)):
        if (NOList[i] == COList[j]):
            full_list_can.loc[i, "Canonical_ID"] = j + 1
            break

In [53]:
full_list_can.head(2)

,Canonical_ID,Name,Ori_Name,Egil_Saga,People_Of_Vatnsdal,People_Of_Laxardal,Bolli_Bollason_Tale,Hrafnkel_Frey_Godi,Confederates,Gisli_Sursson_Saga,...,Ref_the_S,Vinland_Sagas,Greenlanders,Eirik_Red_Saga,Thorstein_Staff_struck,Halldor_Snorrason_II,Sarcastic_Halli,Thorstein_Shiver,Audun_From_West_Fjords,Story_wise_Icelander
0,1,Abraham,"Abraham, ermskr byskup á Íslandi,",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,Absalon,"Absalon, erkibyskup í Lundi,",False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [ ]:
full_list_can

In [56]:
full_list_can.to_csv("Original_Name_With_Canonical_ID.csv", index = False)

In [6]:
# read in data frames
#full_list = pd.read_csv("cleaned_lax_list.csv")
#smiley_list = pd.read_csv("Cleaned_Smiley_List_Lax.csv") #.dropna()

# can constrain the amount of words for efficient testing purposes

#full_list = full_list[:100]
#smiley_list = smiley_list[:100]

In [10]:
#full_list

In [11]:
#smiley_list

In [12]:
# Note: the methods below regarding the levenshtein distance may not all be used; 
# Retaining them is simply for the purpose of possible future uses, such as testing on
# another implementation of Levenshtein distance

In [13]:
# Input: two strings (one from full list, one from smiley list)
# output: a float object showing the levenshtein distance between two strings
def levenshteinDistanceForSaga(string1, string2):
    # assign length of strings
    len_string1 = len(string1)
    len_string2 = len(string2)
    # initialize the distance matrix with all 0 values; zeros requires dtype as parameter i.e. (4, 8)
    distanceMatrix = np.zeros(((len_string1 + 1), (len_string2 + 1)))
    # initialize values for string 1: from 0 to len - 1 i.e distance between current substring and an empty string
    for i in range((len_string1+1)):
        distanceMatrix[i][0] = i
    for j in range((len_string2+1)):
        distanceMatrix[0][j] = j
    # check: return distanceMatrix
    
    # loop through each letter in both words pairwise to compare
    # like a recursion design but with naive implementation, need to account for memory allocation
    # if there happens to be case of large strings
    for k in range(1, len_string1 + 1):
        for p in range(1, len_string2 + 1):
            # if two letters are the same
            # assign the rightbottom value as the lefttop value
            
            # initialize three values on the other three blocks of the square
            lefttop = 0
            leftbot = 0
            righttop = 0
            if (string1[k-1] == string2[p-1]):
                distanceMatrix[k][p] = distanceMatrix[k-1][p-1]
            else:
                # assign three values 
                lefttop = distanceMatrix[k-1][p-1]
                leftbot = distanceMatrix[k][p-1]
                righttop = distanceMatrix[k-1][p]
                
                # pick the min among three values and assign current block i.e. [k][p] plus 1 as cost
                if ((lefttop <= leftbot) and (lefttop <= righttop)):
                    distanceMatrix[k][p] = lefttop + 1
                elif ((leftbot <= lefttop) and (leftbot <= righttop)):
                    distanceMatrix[k][p] = leftbot + 1
                else:
                    distanceMatrix[k][p] = righttop + 1
    # note that the right lower value is the distance between two words
    return distanceMatrix[len_string1][len_string2]

In [14]:
# Input: two strings
# output: levenshtein distance between the first word in two strings
def firstWordLev(string1, string2):
    cut_string1 = string1.split(" ")[0] # assume no extreme case
    cut_string2 = string2.split(" ")[0]
    return levenshteinDistanceForSaga(cut_string1, cut_string2)

In [15]:
# input: two strings
# output: mininum levenshtein distance between the first word in first string and any word in the second string
def anyWordLev(string1, string2):
    cut_string1 = string1.split(" ")[0] # assume no extreme case
    cut_stringSet2 = string2.split(" ") # include content in parentheses in order to avoid coincidental miss
    min_lev = levenshteinDistanceForSaga(cut_string1, cut_stringSet2[0])
    temp_lev = -1
    
    for i in cut_stringSet2[1:]:
        temp_lev = levenshteinDistanceForSaga(cut_string1, i)
        if (temp_lev < min_lev):
            min_lev = temp_lev
        
    if (min_lev <= 2):
        return True
    return False

In [16]:
# input: two strings
# output: levenshtein distance between two names after modification in strings. Less constrains and is used for complex words
def desperateMatching(string1, string2):
    pattern_remove = r" \(.*\)"
    # turn to lower can 
    cut_stringSet1 = re.sub(pattern_remove, "", string1).split(" ")
    cut_stringSet2 = re.sub(pattern_remove, "", string2).split(" ")
    #print(cut_stringSet1, cut_stringSet2)
    while (len(cut_stringSet1) < len(cut_stringSet2)):
        cut_stringSet1 += [""]
    while (len(cut_stringSet1) > len(cut_stringSet2)):
        cut_stringSet2 += [""]
    min_index = 0
    min_lav = -1
    temp_lav = -1
    total_lav = 0
    while (len(cut_stringSet1) > 0):
        min_index = 0
        temp_lav = -1
        check_first = cut_stringSet1[0]
        min_lav = levenshteinDistanceForSaga(check_first, cut_stringSet2[0])
        for j in cut_stringSet2[1:]:
            temp_lav = levenshteinDistanceForSaga(check_first, j)
            if (temp_lav < min_lav):
                min_lav = temp_lav
                min_index = cut_stringSet2[1:].index(j) + 1
        total_lav += min_lav
        cut_stringSet2.remove(cut_stringSet2[min_index])
        cut_stringSet1.remove(cut_stringSet1[0])
        
    return total_lav

In [17]:
# input: two strings
# output: levenshtein distance between two names after modification in strings. More constrains and is used for first round
def moderateMatching(string1, string2):
    pattern_remove = r" \(.*\)"
    cut_stringSet1 = re.sub(pattern_remove, "", string1).split(" ")
    cut_stringSet2 = re.sub(pattern_remove, "", string2).split(" ")
    while (len(cut_stringSet1) < len(cut_stringSet2)):
        cut_stringSet1 += [""]
    while (len(cut_stringSet1) > len(cut_stringSet2)):
        cut_stringSet2 += [""]
    min_index = 0
    min_lav = -1
    temp_lav = -1
    total_lav = 0
    min_lav = levenshteinDistanceForSaga(cut_stringSet1[0], cut_stringSet2[0])
    total_lav += min_lav
    cut_stringSet2.remove(cut_stringSet2[0])
    cut_stringSet1.remove(cut_stringSet1[0])
    
    while (len(cut_stringSet1) > 0):
        min_index = 0
        temp_lav = -1
        check_first = cut_stringSet1[0]
        min_lav = levenshteinDistanceForSaga(check_first, cut_stringSet2[0])
        for j in cut_stringSet2[1:]:
            temp_lav = levenshteinDistanceForSaga(check_first, j)
            if (temp_lav < min_lav):
                min_lav = temp_lav
                min_index = cut_stringSet2[1:].index(j) + 1
        total_lav += min_lav
        cut_stringSet2.remove(cut_stringSet2[min_index])
        cut_stringSet1.remove(cut_stringSet1[0])
        
    return total_lav

In [18]:
# remove empty spaces
for i in range(len(smiley_list)):
    smiley_list.loc[i, "Smiley_Name"] = smiley_list.loc[i, "Smiley_Name"].strip()
for i in range(len(full_list)):
    if (type(full_list.loc[i, "URAP_label"]) != type(float('nan'))):
        full_list.loc[i, "URAP_label"] = full_list.loc[i, "URAP_label"].strip()

NameError: name 'smiley_list' is not defined

In [19]:
moderateMatching("abc", "abd")

1.0

In [35]:
# Initialize outputting dataframe
Total_Single_dtFrame = pd.DataFrame(columns=["Smiley_Name", 'Smiley_ID', 'URAP_Name', 'URAP_ID', 'lav_dis', 'Full_Name', "Full_ID", "Priority"], index= range(len(full_list)))

In [38]:
# lavDisMatrix